<!-- <!DOCTYPE HTML>
<html>
    <head>
        <title>Microsoft Homepage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="app.component.css">
    </head> -->
    <!-- <body> -->

        <link rel="stylesheet" href="app.component.css">
        <div class="container">
          <nav class="nav-bar">
            <div class="logo"><a href="#">
              <img src="../assets/AscendCrusaders.png" alt=""></a>
            </div>

            <ul class="menu-left">
              <li><a [routerLink]="['/categories']">Categories</a></li>
              <li><a [routerLink]="['/courses']">Courses</a></li>
              <li><a [routerLink]="['/about-us']">About Us</a></li>
            </ul>
            <ul class="menu-right">
              <li><a href="#">Search</a>
                <i class="fas fa-search" style="margin-left: 5px;"></i></li>
              <li><a [routerLink]="['/login']">Login</a>
                <i class="fas fa-user-circle" style="margin-left: 5px;"></i></li>
            </ul>
          </nav>

          <header class="main-area" *ngIf="pageService.isMainPage">
            <div class="inner-content">
              <h1 style="margin-top: -200px;">Developed for success people —</h1>
              <h1> today and in future</h1>
              <p style="margin-top: 30px;">Next generation of quality courses. With<br> <b>AscendCrusaders</b> team, you can achieve<br> incredible success in your life.<br><br></p>
              <a href="javascript:void(0)" class="btn" (click)="scrollToSection()">Check, if you are ready</a>
            </div>
          </header>

          <i class='fa fa-pause'></i> <i class="fa fa-arrow-left" aria-hidden="true"></i> <i class="fa-solid fa-arrow-right"></i>
          <section #section>
            <router-outlet/>
          </section>
        </div>

    <!-- </body> -->
<!-- </html> -->
