/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20 px 0px;
    /* background-color: black; */
}

.logo img{
    width: 70px;
    border-radius: 50px;
}
.menu-left{
    display: flex;
    padding-left: 5px;
    flex:1
}

.menu-right{
    display: flex;

}
.nav-bar ul li{
    padding: 0px 10px;
}

.main-area{
    width: 100%;
    height: 500px;
    background: url("https://i.mycdn.me/getVideoPreview?id=2793070267036&idx=8&type=39&tkn=xMIq9WKwfaw3bbNjDrOBEt9z-kI&fn=vid_x") no-repeat center center/cover;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 120px;
    margin-bottom: 50px;
}

.inner-content{
    margin-left: 30px;
    width: 100%;
    height: 20%;
}

.inner-content h1 {
  background: linear-gradient(to right, #61ffe7, #0f93ff, #0045ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.inner-content p{
  background: linear-gradient(to right, #61ffe7, #0f93ff, #0045ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  margin-top: -150px;
}
.inner-content h1{
    font-size: 40px;
}

.btn{
    background-color: #0022ff;
    color:white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-bottom: 35px;
    margin: 20px;
}
.cards img{
    width: 50%;
    margin-bottom: 10px;
}

.cards h1{
    margin-bottom: 10px;
}

.cards p{
    margin-bottom: 10px;
}

.cards a, .cards i{
    color:#006788;
    padding-bottom: 5px;
}

.rainbow {
  text-align: center;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow:hover {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
@keyframes rainbow-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}


.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.course-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-description {
  margin-bottom: 10px;
}

.course-price {
  font-weight: bold;
}

.buy-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-link:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}
